.admin-dashboard-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.create-user-form-container {
    flex: 1 1 50%;
}

.user-list-container {
    flex: 1 1 50%
}