.row {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

/* .col {
    margin: 1rem;
    flex-basis: 20%;
    text-align: center;
    color: white;
    background-color: blueviolet;
} */

.head {
    margin: 1rem;
    flex-basis: 20%;
}

.head input,
.head label {
    display: block;
    direction: rtl;
    border: 0;
    border-radius: 5px;
}

.head input {
    width: 95%;
    padding: 10px;
}

.submit-note {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-basis: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.submit-note button {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 5px;

}

.submit-note button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}